In [2]:
from pathlib import Path
import pandas as pd
import numpy as np

In [3]:
root = Path("/data")
ccy = "GBPEUR"
date = "20230413"

In [6]:
pd.read_csv(root / ccy / f"{ccy}-{date}.csv", names=['t', 'bid', 'bsz', 'ask', 'asz', ])

                                 a        b          c        d          e
0      2023-04-13T06:19:14.088000Z  1.13644  1759660.0  1.13681  1759520.0
1      2023-04-13T06:19:14.716000Z  1.13645   967802.0  1.13682  1759520.0
2      2023-04-13T06:19:15.692000Z  1.13644  1759660.0  1.13681  1759520.0
3      2023-04-13T06:19:18.316000Z  1.13642  1759700.0  1.13679  1759540.0
4      2023-04-13T06:19:27.721000Z  1.13641  1759720.0  1.13678  1759560.0
...                            ...      ...        ...      ...        ...
24388  2023-04-13T19:31:12.283000Z  1.13333   882250.0  1.13370  1764360.0
24389  2023-04-13T19:31:14.750000Z  1.13332   882260.0  1.13369   970398.0
24390  2023-04-13T19:31:15.541000Z  1.13331   882270.0  1.13368  1764360.0
24391  2023-04-13T19:31:17.392000Z  1.13331   882270.0  1.13368   970409.0
24392  2023-04-13T19:32:40.585000Z  1.13331   882270.0  1.13368  1940818.0

[24393 rows x 5 columns]