In [27]:
from pathlib import Path
import pandas as pd
import numpy as np

In [2]:
root = Path("/data")
ccy = "GBPEUR"
date = "20230413"

In [26]:
df = pd.read_csv(root / ccy / f"{ccy}-{date}.csv", names=['t','bid','bsz','ask','asz',])
df['t'] = np.char.rstrip(list(df.t.values), 'Z').astype(np.datetime64)
df

                            t      bid        bsz      ask        asz
0     2023-04-13 06:19:14.088  1.13644  1759660.0  1.13681  1759520.0
1     2023-04-13 06:19:14.716  1.13645   967802.0  1.13682  1759520.0
2     2023-04-13 06:19:15.692  1.13644  1759660.0  1.13681  1759520.0
3     2023-04-13 06:19:18.316  1.13642  1759700.0  1.13679  1759540.0
4     2023-04-13 06:19:27.721  1.13641  1759720.0  1.13678  1759560.0
...                       ...      ...        ...      ...        ...
24388 2023-04-13 19:31:12.283  1.13333   882250.0  1.13370  1764360.0
24389 2023-04-13 19:31:14.750  1.13332   882260.0  1.13369   970398.0
24390 2023-04-13 19:31:15.541  1.13331   882270.0  1.13368  1764360.0
24391 2023-04-13 19:31:17.392  1.13331   882270.0  1.13368   970409.0
24392 2023-04-13 19:32:40.585  1.13331   882270.0  1.13368  1940818.0

[24393 rows x 5 columns]

In [25]:

def add_bin_col(df:pd.DataFrame, bin_size_sec:int, timestamp_col:str, bin_time_col:str = 'bin', copy:bool = True) -> pd.DataFrame:
    retval = df.copy() if copy else df
    #retval[bin_time_col] = retval[timestamp_col].values.astype(f"datetime64[{bin_size_sec}s]")
    ts = retval[timestamp_col].values.astype(f"datetime64[s]")
    retval[f"{bin_time_col}_start"] = ((ts.astype(np.int64)/bin_size_sec).astype(np.int64) * bin_size_sec).astype("datetime64[s]")
    retval[f"{bin_time_col}_end"] = retval[f"{bin_time_col}_start"].values + np.timedelta64(bin_size_sec, "s")

    return retval

add_bin_col(df, 5, "t", "bin")

,t,bid,bsz,ask,asz,bin_start,bin_end
0,2023-04-13 06:19:14.088,1.13644,1759660.0,1.13681,1759520.0,2023-04-13 06:19:10,2023-04-13 06:19:15
1,2023-04-13 06:19:14.716,1.13645,967802.0,1.13682,1759520.0,2023-04-13 06:19:10,2023-04-13 06:19:15
2,2023-04-13 06:19:15.692,1.13644,1759660.0,1.13681,1759520.0,2023-04-13 06:19:15,2023-04-13 06:19:20
3,2023-04-13 06:19:18.316,1.13642,1759700.0,1.13679,1759540.0,2023-04-13 06:19:15,2023-04-13 06:19:20
4,2023-04-13 06:19:27.721,1.13641,1759720.0,1.13678,1759560.0,2023-04-13 06:19:25,2023-04-13 06:19:30
...,...,...,...,...,...,...,...
24388,2023-04-13 19:31:12.283,1.13333,882250.0,1.13370,1764360.0,2023-04-13 19:31:10,2023-04-13 19:31:15
24389,2023-04-13 19:31:14.750,1.13332,882260.0,1.13369,970398.0,2023-04-13 19:31:10,2023-04-13 19:31:15
24390,2023-04-13 19:31:15.541,1.13331,882270.0,1.13368,1764360.0,2023-04-13 19:31:15,2023-04-13 19:31:20
24391,2023-04-13 19:31:17.392,1.13331,882270.0,1.13368,970409.0,2023-04-13 19:31:15,2023-04-13 19:31:20
24392,2023-04-13 19:32:40.585,1.13331,882270.0,1.13368,1940818.0,2023-04-13 19:32:40,2023-04-13 19:32:45

In [28]:
df.t.values

array(['2023-04-13T06:19:14.088000', '2023-04-13T06:19:14.716000',
       '2023-04-13T06:19:15.692000', ..., '2023-04-13T19:31:15.541000',
       '2023-04-13T19:31:17.392000', '2023-04-13T19:32:40.585000'],
      dtype='datetime64[us]')

In [31]:
np.char.rstrip(["pythoX", "numpX"], 'X')

array(['pytho', 'nump'], dtype='<U6')